* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* common styles  */

.btn-primary {
    padding: 10px 35px;
    margin-top: 1rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    cursor: pointer;
}

/* nav styles */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    margin: 20px auto;
}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-menu-container li {
    list-style: none;
}

.nav-menu-container li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.nav-container img {
    width: 20px;
    height: 20px;
}

/* banner style  */

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 80%;
    margin: 20px auto;
    gap: 100px;

}


.banner-description h1 {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-description p {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.banner-img {
    background: url('images/circledesign.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
}

.banner-container img {
    width: 400px;
    height: 370px;

}

/* images container styles */

.image-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

hr {
    opacity: .2;
    width: 70%;
    margin: 10px auto;
}

/* card styles  */
.card-title {
    text-align: center;
    margin: 50px auto;
}

.card-section {
    width: 70%;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: 330px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.card img {
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.card h2 {
    color: #18191F;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 40px;
}

.card h5 {
    color: #787886;
    font-size: .6rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    margin-top: 5px;
}

/* feature styles */

.feature-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 80%;
    margin: 100px auto;
    align-items: center;
}

.feature-container h2 {
    color: #0A0826;
    font-size: 2fr;
    font-weight: 700;
    line-height: 60px;
}

.feature-container p {
    color: #6C6C6C;
    font-size: .8rem;
    font-weight: 700;
    line-height: 28px;
    margin: 10px 0px;
}

/* footer styles  */

 footer img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

footer h3 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: 200px;
    background: #0A0826;
    color: #fff;
    padding-top: 100px;

}

.footer {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.footer p {
    font-size: .8rem;
    line-height: 24px;
}

.footer-img img {
    margin: 10px 15px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
}


/* responsive for smaller devices */

@media screen and (max-width:576px) {

    .nav-container,
    .nav-menu-container {
        flex-direction: column;
    }

    .nav-title {
        text-align: center;
    }

    .nav-menu-container {
        text-align: center;
        margin-top: 30px;
        gap: 15px;
    }

    .banner-container {
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;

    }

    .banner-img {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .banner-img img {
        width: 90%;
        margin: 0 auto;
    }

    .banner-description {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .banner-description h1 {
        font-size: 2rem;
    }

    .image-container {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }


    .card-container {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        height: 95%;
        margin: 0 auto;

    }

    .card-container img {
        width: 100%;
    }

    .feature-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-container img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }

    .feature-container .btn-primary {
        border-radius: 5px;
    }

    footer {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .footer {
        width: 90%;
        text-align: center;
    }
}


/* responsive for medium devices */


@media screen and (min-width:577px) and (max-width:960px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu-container {
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        height: 900px;
        width: 100%;

    }

    .banner-description {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 50px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }

    .card {
        width: 90%;
        height: 95%;
        margin: 0 auto;

    }

    .card-container img {
        width: 100%;
    }

    .card-container img {
        width: 100%;
    }

    .feature-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-container img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }

    .feature-container .btn-primary {
        border-radius: 5px;
    }



}